In [1]:
#Preparing sql environment
%load_ext sql

In [2]:
%sql mysql+pymysql://root:0479%40Kanya@127.0.0.1:3306/united_nations

In [3]:
%%sql

SELECT
    *
FROM
    Access_to_Basic_Services
LIMIT 5;

 * mysql+pymysql://root:***@127.0.0.1:3306/united_nations
5 rows affected.

[('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2015, 94.67, 98, 17.542806, 184.39, 2699700, 4.93),
 ('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2016, 94.67, 98, 17.794055, 137.28, 2699700, 4.96),
 ('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2017, 95.0, 98, 18.037776, 166.81, 2699700, 4.9),
 ('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2018, 95.0, 98, 18.276452, 179.34, 2699700, 4.85),
 ('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2019, 95.0, 98, 18.513673, 181.67, 2699700, 4.8)]

**1. What is the minimum, maximum, and average percentage of people that have access to managed drinking water services per region and sub_region?**

Calculate the minimum, maximum, and average percentage of people that have access to managed drinking water services per region and sub_region in our dataset using the MIN, MAX, and AVG functions. Return the result with aliases.

In [5]:
%%sql

SELECT Region,
    Sub_region,
    MIN(Pct_managed_drinking_water_services) AS min_Pct_managed_drinking_water_services,
    MAX(Pct_managed_drinking_water_services) AS max_Pct_managed_drinking_water_services,
    AVG(Pct_managed_drinking_water_services) AS avg_Pct_managed_drinking_water_services
FROM united_nations.Access_to_Basic_Services
GROUP BY Region, Sub_region;

 * mysql+pymysql://root:***@127.0.0.1:3306/united_nations
18 rows affected.

[('Central and Southern Asia', 'Central Asia', 80.33, 100.0, 93.14466666666667),
 ('Central and Southern Asia', 'Southern Asia', 67.0, 99.67, 91.89407407407407),
 ('Eastern and South-Eastern Asia', 'Eastern Asia', 75.67, 100.0, 92.69966666666666),
 ('Eastern and South-Eastern Asia', 'South-Eastern Asia', 73.33, 100.0, 90.6260606060606),
 ('Europe and Northern America', 'Northern America', 91.0, 100.0, 97.91133333333333),
 ('Latin America and the Caribbean', 'Caribbean', 64.0, 100.0, 96.005),
 ('Latin America and the Caribbean', 'Central America', 79.0, 100.0, 93.79812499999998),
 ('Latin America and the Caribbean', 'South America', 86.0, 100.0, 94.88095238095238),
 ('Northern Africa and Western Asia', 'Northern Africa', 61.33, 100.0, 88.9061111111111),
 ('Northern Africa and Western Asia', 'Western Asia', 59.0, 100.0, 95.03120370370371),
 ('Oceania', 'Australia and New Zealand', 100.0, 100.0, 100.0),
 ('Oceania', 'Melanesia', 53.67, 99.0, 82.70033333333332),
 ('Oceania', 'Micronesia', 73.67, 100.0, 93.41463414634147),
 ('Oceania', 'Polynesia', 91.0, 100.0, 98.50648148148149),
 ('Sub-Saharan Africa', 'Eastern Africa', 46.33, 100.0, 70.12842105263158),
 ('Sub-Saharan Africa', 'Middle Africa', 38.33, 77.33, 58.96705882352941),
 ('Sub-Saharan Africa', 'Southern Africa', 73.33, 92.0, 82.645),
 ('Sub-Saharan Africa', 'Western Africa', 53.33, 99.0, 72.36568627450981)]

**2. What is the total number of countries within each region and sub_region?**

Determine the number of countries within each region and sub-region by using the COUNT function. Use an alias to name the result.

In [6]:
%%sql

SELECT Region,
    Sub_region,
    COUNT(DISTINCT(Country_name)) AS Number_of_countries
FROM united_nations.Access_to_Basic_Services
GROUP BY Region, Sub_region;

 * mysql+pymysql://root:***@127.0.0.1:3306/united_nations
18 rows affected.

[('Central and Southern Asia', 'Central Asia', 5),
 ('Central and Southern Asia', 'Southern Asia', 9),
 ('Eastern and South-Eastern Asia', 'Eastern Asia', 5),
 ('Eastern and South-Eastern Asia', 'South-Eastern Asia', 11),
 ('Europe and Northern America', 'Northern America', 5),
 ('Latin America and the Caribbean', 'Caribbean', 27),
 ('Latin America and the Caribbean', 'Central America', 8),
 ('Latin America and the Caribbean', 'South America', 14),
 ('Northern Africa and Western Asia', 'Northern Africa', 6),
 ('Northern Africa and Western Asia', 'Western Asia', 18),
 ('Oceania', 'Australia and New Zealand', 2),
 ('Oceania', 'Melanesia', 5),
 ('Oceania', 'Micronesia', 7),
 ('Oceania', 'Polynesia', 9),
 ('Sub-Saharan Africa', 'Eastern Africa', 20),
 ('Sub-Saharan Africa', 'Middle Africa', 9),
 ('Sub-Saharan Africa', 'Southern Africa', 5),
 ('Sub-Saharan Africa', 'Western Africa', 17)]

**3. What is the total GDP for each region and sub_region?**

Determine the total GDP for each region and sub-region by using the SUM function to add all GDP values for each region and sub_region. Use an alias to name the result.

In [7]:
%%sql

SELECT Region,
    Sub_region,
    SUM(EST_gdp_in_billions) AS EST_total_gdp_in_billions
FROM united_nations.Access_to_Basic_Services
GROUP BY Region, Sub_region;

 * mysql+pymysql://root:***@127.0.0.1:3306/united_nations
18 rows affected.

[('Central and Southern Asia', 'Central Asia', 1670.3200000000004),
 ('Central and Southern Asia', 'Southern Asia', 19824.660000000003),
 ('Eastern and South-Eastern Asia', 'Eastern Asia', 107123.36999999998),
 ('Eastern and South-Eastern Asia', 'South-Eastern Asia', 15563.180000000002),
 ('Europe and Northern America', 'Northern America', 9905.96),
 ('Latin America and the Caribbean', 'Caribbean', 2070.17),
 ('Latin America and the Caribbean', 'Central America', 8524.66),
 ('Latin America and the Caribbean', 'South America', 19959.58),
 ('Northern Africa and Western Asia', 'Northern Africa', 2736.8),
 ('Northern Africa and Western Asia', 'Western Asia', 13605.830000000002),
 ('Oceania', 'Australia and New Zealand', 9241.73),
 ('Oceania', 'Melanesia', 237.86999999999998),
 ('Oceania', 'Micronesia', 46.919999999999995),
 ('Oceania', 'Polynesia', 46.75999999999999),
 ('Sub-Saharan Africa', 'Eastern Africa', 1944.6099999999997),
 ('Sub-Saharan Africa', 'Middle Africa', 837.3400000000003),
 ('Sub-Saharan Africa', 'Southern Africa', 2386.64),
 ('Sub-Saharan Africa', 'Western Africa', 3621.309999999999)]

**4. Filter for the year 2020.**

Using the above query, focus on results where the time period is 2020 using the WHERE clause.

In [11]:
%%sql

SELECT Region,
    Sub_region,
    MIN(Pct_managed_drinking_water_services) AS min_Pct_managed_drinking_water_services,
    MAX(Pct_managed_drinking_water_services) AS max_Pct_managed_drinking_water_services,
    AVG(Pct_managed_drinking_water_services) AS avg_Pct_managed_drinking_water_services,
    COUNT(DISTINCT(Country_name)) AS Number_of_countries,
    SUM(EST_gdp_in_billions) AS EST_total_gdp_in_billions
FROM Access_to_Basic_Services
WHERE Time_period = 2020
GROUP BY Region, Sub_region
ORDER BY EST_total_gdp_in_billions ASC;

 * mysql+pymysql://root:***@127.0.0.1:3306/united_nations
18 rows affected.

[('Oceania', 'Micronesia', 77.0, 100.0, 94.5, 6, 6.67),
 ('Oceania', 'Polynesia', 92.0, 100.0, 98.55555555555556, 9, 7.839999999999999),
 ('Oceania', 'Melanesia', 56.67, 99.0, 82.934, 5, 40.21),
 ('Sub-Saharan Africa', 'Middle Africa', 38.33, 77.33, 59.332499999999996, 8, 123.22),
 ('Central and Southern Asia', 'Central Asia', 85.0, 100.0, 94.134, 5, 239.10000000000002),
 ('Latin America and the Caribbean', 'Caribbean', 65.0, 100.0, 95.91066666666666, 15, 343.26),
 ('Sub-Saharan Africa', 'Eastern Africa', 48.33, 100.0, 70.01882352941178, 17, 359.1),
 ('Sub-Saharan Africa', 'Southern Africa', 76.33, 92.0, 83.668, 5, 369.34000000000003),
 ('Northern Africa and Western Asia', 'Northern Africa', 62.33, 100.0, 90.05333333333333, 6, 386.29),
 ('Sub-Saharan Africa', 'Western Africa', 53.33, 99.0, 73.60705882352943, 17, 631.91),
 ('Latin America and the Caribbean', 'Central America', 79.33, 100.0, 94.49875, 8, 1347.35),
 ('Oceania', 'Australia and New Zealand', 100.0, 100.0, 100.0, 2, 1538.63),
 ('Europe and Northern America', 'Northern America', 91.0, 100.0, 98.0, 5, 1655.39),
 ('Northern Africa and Western Asia', 'Western Asia', 63.0, 100.0, 95.59333333333333, 18, 2194.63),
 ('Eastern and South-Eastern Asia', 'South-Eastern Asia', 75.33, 100.0, 92.1209090909091, 11, 2721.73),
 ('Latin America and the Caribbean', 'South America', 90.33, 100.0, 95.66714285714285, 14, 2755.4999999999995),
 ('Central and Southern Asia', 'Southern Asia', 80.33, 99.67, 93.07444444444444, 9, 3487.0199999999995),
 ('Eastern and South-Eastern Asia', 'Eastern Asia', 81.0, 100.0, 93.4, 5, 19741.09)]

**5. Focus on countries where the percentage of managed drinking water services is below 60%.**

Adding onto your query above, focus on results where the percentage of managed drinking water services is smaller than 60% using the WHERE clause.

In [10]:
%%sql

SELECT Region,
    Sub_region,
    MIN(Pct_managed_drinking_water_services) AS min_Pct_managed_drinking_water_services,
    MAX(Pct_managed_drinking_water_services) AS max_Pct_managed_drinking_water_services,
    AVG(Pct_managed_drinking_water_services) AS avg_Pct_managed_drinking_water_services,
    COUNT(DISTINCT(Country_name)) AS Number_of_countries,
    SUM(EST_gdp_in_billions) AS EST_total_gdp_in_billions
FROM Access_to_Basic_Services
WHERE Time_period = 2020
    AND Pct_managed_drinking_water_services < 60
GROUP BY Region, Sub_region
ORDER BY EST_total_gdp_in_billions ASC;

 * mysql+pymysql://root:***@127.0.0.1:3306/united_nations
4 rows affected.

[('Oceania', 'Melanesia', 56.67, 56.67, 56.67, 1, 23.85),
 ('Sub-Saharan Africa', 'Western Africa', 53.33, 57.33, 55.33, 2, 31.67),
 ('Sub-Saharan Africa', 'Middle Africa', 38.33, 52.67, 47.75, 4, 66.67),
 ('Sub-Saharan Africa', 'Eastern Africa', 48.33, 58.0, 54.9975, 4, 127.58999999999999)]

**6. Filter for the sub-regions that have fewer than four countries.**

Filter the results above to only include the regions and sub-regions that have fewer than four countries in the Number_of_countries alias using the HAVING clause.

In [12]:
%%sql

SELECT Region,
    Sub_region,
    MIN(Pct_managed_drinking_water_services) AS min_Pct_managed_drinking_water_services,
    MAX(Pct_managed_drinking_water_services) AS max_Pct_managed_drinking_water_services,
    AVG(Pct_managed_drinking_water_services) AS avg_Pct_managed_drinking_water_services,
    COUNT(DISTINCT(Country_name)) AS Number_of_countries,
    SUM(EST_gdp_in_billions) AS EST_total_gdp_in_billions
FROM Access_to_Basic_Services
WHERE Time_period = 2020
    AND Pct_managed_drinking_water_services < 60
GROUP BY Region, Sub_region
HAVING Number_of_countries < 4
ORDER BY EST_total_gdp_in_billions ASC;

 * mysql+pymysql://root:***@127.0.0.1:3306/united_nations
2 rows affected.

[('Oceania', 'Melanesia', 56.67, 56.67, 56.67, 1, 23.85),
 ('Sub-Saharan Africa', 'Western Africa', 53.33, 57.33, 55.33, 2, 31.67)]