In [1]:
#Preparing sql environment
%load_ext sql

In [2]:
%sql mysql+pymysql://root:0479%40Kanya@127.0.0.1:3306/united_nations

In [3]:
%%sql
SELECT * FROM Access_to_Basic_Services
LIMIT 5;

 * mysql+pymysql://root:***@127.0.0.1:3306/united_nations
5 rows affected.

[('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2015, 94.67, 98, 17.542806, 184.39, 2699700, 4.93),
 ('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2016, 94.67, 98, 17.794055, 137.28, 2699700, 4.96),
 ('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2017, 95.0, 98, 18.037776, 166.81, 2699700, 4.9),
 ('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2018, 95.0, 98, 18.276452, 179.34, 2699700, 4.85),
 ('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2019, 95.0, 98, 18.513673, 181.67, 2699700, 4.8)]

**1. Create a table named Geographic_Location.**

Create a table named Geographic_Location with the columns Country_name, Sub_region, Region, and Land_area, with Country_name being the primary key.

In [5]:
%%sql
DROP TABLE Geographic_Location;
CREATE TABLE united_nations.Geographic_Location (
  Country_name VARCHAR(37) PRIMARY KEY,
  Sub_region VARCHAR(25),
  Region VARCHAR(32),
  Land_area NUMERIC(10,2)
);

 * mysql+pymysql://root:***@127.0.0.1:3306/united_nations
0 rows affected.
0 rows affected.

[]

**2. Extract the relevant columns from the Access_to_Basic_Services table.**

Extract the columns Country_name, Sub_region, Region, and Land_area from the Access_to_Basic_Services table into the newly created Geographic_Location table.

In [8]:
%%sql

INSERT INTO united_nations.Geographic_Location (Country_name, Sub_region, Region, Land_area)
SELECT Country_name,
    Sub_region,
    Region,
    AVG(Land_area) as Country_area
FROM united_nations.Access_to_Basic_Services
GROUP BY Country_name,
    Sub_region,
    Region;

 * mysql+pymysql://root:***@127.0.0.1:3306/united_nations
182 rows affected.

[]