In [1]:
#Preparing sql environment
%load_ext sql

In [2]:
%sql mysql+pymysql://root:0479%40Kanya@127.0.0.1:3306/united_nations

**Task 1**

Start by constructing a query that displays the average GDP of a country during the year 2020.

In [4]:
%%sql

SELECT
    AVG(Est_gdp_in_billions)
FROM
    Economic_Indicators
WHERE
    Time_period = 2020;

 * mysql+pymysql://root:***@127.0.0.1:3306/united_nations
1 rows affected.

[(Decimal('301.176825'),)]

**Task 2**

In order to answer our question, we need to pull data from both the Economic_Indicators and the Basic_Services tables; therefore, we need to join them together. Using Country_name and Time_period, join the Basic_Services table to the Economic_Indicators table.

In [5]:
%%sql

SELECT
    econ.Country_name,
    econ.Time_period,
    econ.Est_gdp_in_billions,
    service.Pct_managed_drinking_water_services
FROM
    Economic_Indicators AS econ
INNER JOIN
    Basic_Services AS service
ON
    econ.Country_name = service.Country_name
    AND econ.Time_period = service.Time_period
LIMIT 10;

 * mysql+pymysql://root:***@127.0.0.1:3306/united_nations
10 rows affected.

[('Afghanistan', 2015, Decimal('20.00'), Decimal('67.00')),
 ('Afghanistan', 2016, Decimal('18.02'), Decimal('69.67')),
 ('Afghanistan', 2017, Decimal('18.90'), Decimal('72.33')),
 ('Afghanistan', 2018, Decimal('18.42'), Decimal('75.33')),
 ('Afghanistan', 2019, Decimal('18.90'), Decimal('78.00')),
 ('Afghanistan', 2020, Decimal('20.14'), Decimal('80.33')),
 ('Algeria', 2015, Decimal('165.98'), Decimal('92.00')),
 ('Algeria', 2016, Decimal('160.03'), Decimal('93.00')),
 ('Algeria', 2017, Decimal('170.10'), Decimal('93.00')),
 ('Algeria', 2018, Decimal('174.91'), Decimal('93.00'))]

**Task 3**
  
Using the query created in Task 2, filter the results to display records where:

The year = 2020.
The GDP is above the global average.
Less than 90% of the country's population have access to managed drinking water services.
Hint: Keep in mind that we determined the GDP above the global average in Task 1.

In [6]:
%%sql

SELECT
    econ.Country_name,
    econ.Time_period,
    econ.Est_gdp_in_billions,
    service.Pct_managed_drinking_water_services
FROM
    Economic_Indicators AS econ
INNER JOIN
    Basic_Services AS service
ON
    econ.Country_name = service.Country_name
    AND econ.Time_period = service.Time_period
WHERE
    econ.time_period = 2020
    AND service.Pct_managed_drinking_water_services < 90
    AND econ.Est_gdp_in_billions > (SELECT
                                        AVG(Est_gdp_in_billions)
                                    FROM
                                        Economic_Indicators
                                    WHERE
                                        Time_period = 2020);

 * mysql+pymysql://root:***@127.0.0.1:3306/united_nations
1 rows affected.

[('Nigeria', 2020, Decimal('432.20'), Decimal('77.33'))]