In [1]:
#Preparing sql environment
%load_ext sql

In [2]:
%sql mysql+pymysql://root:0479%40Kanya@127.0.0.1:3306/company_data

In [3]:
%%sql
SELECT
	*
FROM
	Company_employees;

 * mysql+pymysql://root:***@127.0.0.1:3306/company_data
5 rows affected.

[('E001', 'Carmel', 'J01', 'Chef', 26, 'Cape Town'),
 ('E001', 'Carmel', 'J02', 'Waiter', 26, 'Cape Town'),
 ('E002', 'Stefanie', 'J02', 'Waiter', 56, 'Joburg'),
 ('E002', 'Stefanie', 'J03', 'Bartender', 56, 'Joburg'),
 ('E003', 'Lisa', 'J01', 'Chef', 5, 'Nairobi')]

**Exercise 1**

Create a new table from Company_employees called Employees. Each row in the Employee table can be uniquely identified by the Employee_id column which is the primary key. The Name, State_code, and Home_state, which are non-key attributes, should be included.

There should be no partial dependencies.

In [5]:
%%sql

DROP TABLE IF EXISTS Employees;

CREATE TABLE Employees (PRIMARY KEY(`Employee_id`)) AS
SELECT
    DISTINCT Employee_id,
    Name,
    State_code,
    Home_state
FROM
    Company_employees;

 * mysql+pymysql://root:***@127.0.0.1:3306/company_data
0 rows affected.
3 rows affected.

[]

**Exercise 2**

Similar to Employees, create a table called Jobs from the Company_employees table. Each Job is identified by the Job_code and has a Job_title. Each row can be uniquely identified by the primary key, which is Job_code.

There should be no partial dependencies.

In [6]:
%%sql

DROP TABLE IF EXISTS Jobs;

CREATE TABLE Jobs (PRIMARY KEY(`Job_code`)) AS
SELECT
    DISTINCT Job_code,
    Job_title
FROM
    Company_employees;

 * mysql+pymysql://root:***@127.0.0.1:3306/company_data
0 rows affected.
3 rows affected.

[]

**Exercise 3**
  
The final step is to be able to map each employee to a job. To do this, define a table called Employee_roles with the columns Employee_id and Job_code. Each row can be uniquely identified by the composite primary key (Employee_id and Job_code).

There should be no partial dependencies.

In [7]:
%%sql

DROP TABLE IF EXISTS Employee_roles;

CREATE TABLE Employee_roles (PRIMARY KEY(`Employee_id`, `Job_code`)) AS
SELECT
    Employee_id,
    Job_code
FROM
    Company_employees;

 * mysql+pymysql://root:***@127.0.0.1:3306/company_data
0 rows affected.
5 rows affected.

[]

**Exercise 4**
  
Solve the transitive partial dependency by creating a table called States from the Employees table. It will contain the columns State_code and Home_state.

In [8]:
%%sql

DROP TABLE IF EXISTS States;

CREATE TABLE States (PRIMARY KEY(`State_code`)) AS
SELECT
    State_code,
    Home_state
FROM
    Employees;

 * mysql+pymysql://root:***@127.0.0.1:3306/company_data
0 rows affected.
3 rows affected.

[]

**Exercise 5**
Drop the Home_state column from the Employees table.

In [9]:
%%sql

ALTER TABLE Employees
DROP COLUMN Home_state;

 * mysql+pymysql://root:***@127.0.0.1:3306/company_data
0 rows affected.

[]