In [1]:
#Preparing sql environment
%load_ext sql

In [2]:
%sql mysql+pymysql://root:0479%40Kanya@127.0.0.1:3306/united_nations

### Task 1: Basic Filtering with Comparison Operators
**You will be working with the united_nations.Access_to_Basic_Services table. The columns to SELECT include**

Country_name
Time_period
Pct_managed_drinking_water_services
Pct_managed_sanitation_services
Est_population_in_millions
and Est_gdp_in_billions
Use the WHERE clause to filter out records of specific countries:

Nigeria,
Ethiopia,
Congo,
Egypt,
Tanzania,
Kenya,
and South Africa
for the time period between 2019 and 2020. Utilize the OR operator to include multiple countries in your filter.

In [3]:
%%sql
SELECT
     Country_name,
     Time_period,
     Pct_managed_drinking_water_services,
     Pct_managed_sanitation_services,
     Est_population_in_millions,
     Est_gdp_in_billions
FROM
     Access_to_Basic_Services
WHERE
     (
        Country_name = 'Nigeria'
     OR Country_name = 'Ethiopia'
     OR Country_name = 'Congo' 
     OR Country_name = 'Egypt'
     OR Country_name = 'Tanzania'
     OR Country_name = 'Kenya'
     OR country_name = 'South Africa')
    AND time_period BETWEEN 2019 AND 2020;

 * mysql+pymysql://root:***@127.0.0.1:3306/united_nations
12 rows affected.

[('Egypt', 2019, 99.33, 97, None, None),
 ('Egypt', 2020, 99.33, 98, None, None),
 ('Ethiopia', 2019, 57.0, 12, 114.120594, 95.91),
 ('Ethiopia', 2020, 58.0, 12, 117.190911, 107.66),
 ('Kenya', 2019, 66.33, 33, 50.95145, 100.38),
 ('Kenya', 2020, 67.0, 34, 51.98578, 100.67),
 ('Congo', 2019, 69.0, 18, None, None),
 ('Congo', 2020, 69.0, 18, None, None),
 ('South Africa', 2019, 91.67, 78, 58.087055, 388.53),
 ('South Africa', 2020, 92.0, 79, 58.801927, 337.62),
 ('Nigeria', 2019, 75.67, 42, 203.304492, 448.12),
 ('Nigeria', 2020, 77.33, 43, 208.327405, 432.2)]

### Task 2: Streamlining with the IN Operator
Building on the first task, you might have noticed that using multiple OR operators can make the query lengthy and a bit complicated. The 'IN' operator offers a more efficient way to achieve the same result. The IN operator allows you to specify multiple values in a WHERE clause, making the query more concise. Try to retrieve data for the same list of countries for the same time range, but this time, use the IN operator to simplify your query.

In [4]:
%%sql
SELECT
     Country_name,
     Time_period,
     Pct_managed_drinking_water_services,
     Pct_managed_sanitation_services,
     Est_population_in_millions,
     Est_gdp_in_billions
FROM
     Access_to_Basic_Services
WHERE  
     country_name IN(
     'Nigeria',
     'Ethiopia',
     'Congo',
     'Egypt',
     'Tanzania',
     'Kenya',
     'South Africa')
AND time_period BETWEEN 2019 AND 2020;

 * mysql+pymysql://root:***@127.0.0.1:3306/united_nations
12 rows affected.

[('Egypt', 2019, 99.33, 97, None, None),
 ('Egypt', 2020, 99.33, 98, None, None),
 ('Ethiopia', 2019, 57.0, 12, 114.120594, 95.91),
 ('Ethiopia', 2020, 58.0, 12, 117.190911, 107.66),
 ('Kenya', 2019, 66.33, 33, 50.95145, 100.38),
 ('Kenya', 2020, 67.0, 34, 51.98578, 100.67),
 ('Congo', 2019, 69.0, 18, None, None),
 ('Congo', 2020, 69.0, 18, None, None),
 ('South Africa', 2019, 91.67, 78, 58.087055, 388.53),
 ('South Africa', 2020, 92.0, 79, 58.801927, 337.62),
 ('Nigeria', 2019, 75.67, 42, 203.304492, 448.12),
 ('Nigeria', 2020, 77.33, 43, 208.327405, 432.2)]

### Task 3: Combining Multiple Conditions
The *<= operator* is a comparison operator that checks if the value on the left is less than or equal to the value on the right. In this task, you'll use it to filter countries based on specific service percentages. You'll continue working with the united_nations.Access_to_Basic_Services table. The columns to be selected for this task are

**Region,**
**Time_period,**
**Pct_managed_drinking_water_services,**
**Pct_managed_sanitation_services,**
**Est_population_in_millions,** and
**Est_gdp_in_billions.**
Your goal is to extract data for the year 2020, focusing on countries where less than or equal to 50% of the population has access to sanitation services. This will help identify countries with critical sanitation needs. By using the <= operator with the Pct_managed_sanitation_services column, you can filter out countries that exceed this threshold, leaving only those with the most pressing sanitation challenges.

In [5]:
%%sql

SELECT
Region,
Country_name,
Time_period,
Pct_managed_drinking_water_services,
Pct_managed_sanitation_services,
Est_population_in_millions,
Est_gdp_in_billions

FROM
united_nations.Access_to_Basic_Services

WHERE
Time_period = 2020
AND Pct_managed_sanitation_services <= 50
LIMIT  10;

 * mysql+pymysql://root:***@127.0.0.1:3306/united_nations
10 rows affected.

[('Latin America and the Caribbean', 'Haiti', 2020, 65.0, 36, 11.306801, 14.51),
 ('Northern Africa and Western Asia', 'Sudan', 2020, 62.33, 40, 44.440486, 27.03),
 ('Oceania', 'Papua New Guinea', 2020, 56.67, 28, 9.74964, 23.85),
 ('Oceania', 'Solomon Islands', 2020, 72.33, 45, 0.691191, 1.54),
 ('Oceania', 'Kiribati', 2020, 77.0, 45, 0.126463, 0.18),
 ('Sub-Saharan Africa', 'Burundi', 2020, 70.33, 44, 12.220227, 2.65),
 ('Sub-Saharan Africa', 'Ethiopia', 2020, 58.0, 12, 117.190911, 107.66),
 ('Sub-Saharan Africa', 'Kenya', 2020, 67.0, 34, 51.98578, 100.67),
 ('Sub-Saharan Africa', 'Madagascar', 2020, 56.33, 13, 28.225177, 13.05),
 ('Sub-Saharan Africa', 'Malawi', 2020, 74.33, 29, 19.377061, 12.18)]

# PART TWO

**Task 1** 
Select data from the Sub-Saharan African region during the year 2020.

In [7]:
%%sql

SELECT
    Country_name,
	Time_period,
	Pct_managed_drinking_water_services,
	Pct_managed_sanitation_services,
	Est_population_in_millions,
	Est_gdp_in_billions,
    Region

FROM united_nations.Access_to_Basic_Services

WHERE 
     Region = 'Sub-Saharan Africa'
AND
    Time_period = 2020
LIMIT  10;

 * mysql+pymysql://root:***@127.0.0.1:3306/united_nations
10 rows affected.

[('Burundi', 2020, 70.33, 44, 12.220227, 2.65, 'Sub-Saharan Africa'),
 ('Djibouti', 2020, 69.0, 56, 1.090156, 3.18, 'Sub-Saharan Africa'),
 ('Ethiopia', 2020, 58.0, 12, 117.190911, 107.66, 'Sub-Saharan Africa'),
 ('Kenya', 2020, 67.0, 34, 51.98578, 100.67, 'Sub-Saharan Africa'),
 ('Madagascar', 2020, 56.33, 13, 28.225177, 13.05, 'Sub-Saharan Africa'),
 ('Malawi', 2020, 74.33, 29, 19.377061, 12.18, 'Sub-Saharan Africa'),
 ('Mauritius', 2020, 100.0, 96, 1.26574, 11.4, 'Sub-Saharan Africa'),
 ('Mayotte', 2020, 96.0, 100, None, None, 'Sub-Saharan Africa'),
 ('Mozambique', 2020, 66.67, 40, 31.178239, 14.03, 'Sub-Saharan Africa'),
 ('Rwanda', 2020, 66.33, 64, 13.146362, 10.18, 'Sub-Saharan Africa')]

**Task 2**
Sometimes there are null values in our entries. Any country having Null values for their GDP should not be included in our query as they will not help us determine if there is any correlation between GDP and access to basic services. For this task determine if there are any NULL values in the GDP column

In [8]:
%%sql

SELECT
    Country_name,
	Time_period,
	Pct_managed_drinking_water_services,
	Pct_managed_sanitation_services,
	Est_population_in_millions,
	Est_gdp_in_billions,
    Region

FROM united_nations.Access_to_Basic_Services

WHERE 
     Region = 'Sub-Saharan Africa'
AND
    Time_period = 2020
AND 
     Est_gdp_in_billions IS NULL
LIMIT  5;

 * mysql+pymysql://root:***@127.0.0.1:3306/united_nations
5 rows affected.

[('Mayotte', 2020, 96.0, 100, None, None, 'Sub-Saharan Africa'),
 ('RÃ©union', 2020, 100.0, 100, None, None, 'Sub-Saharan Africa'),
 ('South Sudan', 2020, 48.33, 22, 10.606227, None, 'Sub-Saharan Africa'),
 ('United Republic of Tanzania', 2020, 65.0, 34, None, None, 'Sub-Saharan Africa'),
 ('Congo', 2020, 69.0, 18, None, None, 'Sub-Saharan Africa')]

**Task 3**
If there are any Null values exclude them from your query.

In [12]:
%%sql

SELECT
    Country_name,
	Time_period,
	Pct_managed_drinking_water_services,
	Pct_managed_sanitation_services,
	Est_population_in_millions,
	Est_gdp_in_billions,
    Region

FROM united_nations.Access_to_Basic_Services

WHERE 
     Region = 'Sub-Saharan Africa'
AND
    Time_period = 2020
AND 
     Est_gdp_in_billions IS NOT NULL
LIMIT  10;

 * mysql+pymysql://root:***@127.0.0.1:3306/united_nations
10 rows affected.

[('Burundi', 2020, 70.33, 44, 12.220227, 2.65, 'Sub-Saharan Africa'),
 ('Djibouti', 2020, 69.0, 56, 1.090156, 3.18, 'Sub-Saharan Africa'),
 ('Ethiopia', 2020, 58.0, 12, 117.190911, 107.66, 'Sub-Saharan Africa'),
 ('Kenya', 2020, 67.0, 34, 51.98578, 100.67, 'Sub-Saharan Africa'),
 ('Madagascar', 2020, 56.33, 13, 28.225177, 13.05, 'Sub-Saharan Africa'),
 ('Malawi', 2020, 74.33, 29, 19.377061, 12.18, 'Sub-Saharan Africa'),
 ('Mauritius', 2020, 100.0, 96, 1.26574, 11.4, 'Sub-Saharan Africa'),
 ('Mozambique', 2020, 66.67, 40, 31.178239, 14.03, 'Sub-Saharan Africa'),
 ('Rwanda', 2020, 66.33, 64, 13.146362, 10.18, 'Sub-Saharan Africa'),
 ('Somalia', 2020, 57.33, 40, 16.537016, 6.88, 'Sub-Saharan Africa')]

**Task 4**
Lets get an idea if there's any correlation between the GDP and access to basic services for the top 5 economies in Sub-Saharan Africr. The top 5 GDP's are : ('Nigeria','South Africa','Ethiopia','Kenya','Ghana'). Make sure your query only includes these countries.

In [11]:
%%sql

SELECT
    Country_name,
	Time_period,
	Pct_managed_drinking_water_services,
	Pct_managed_sanitation_services,
	Est_population_in_millions,
	Est_gdp_in_billions,
    Region

FROM united_nations.Access_to_Basic_Services

WHERE 
     Region = 'Sub-Saharan Africa'
AND
    Time_period = 2020
AND 
     Est_gdp_in_billions IS NOT NULL
AND 
    country_name IN ('Nigeria','South Africa','Ethiopia','Kenya','Ghana')

ORDER BY Est_gdp_in_billions;

 * mysql+pymysql://root:***@127.0.0.1:3306/united_nations
5 rows affected.

[('Ghana', 2020, 84.67, 23, 32.180401, 70.04, 'Sub-Saharan Africa'),
 ('Kenya', 2020, 67.0, 34, 51.98578, 100.67, 'Sub-Saharan Africa'),
 ('Ethiopia', 2020, 58.0, 12, 117.190911, 107.66, 'Sub-Saharan Africa'),
 ('South Africa', 2020, 92.0, 79, 58.801927, 337.62, 'Sub-Saharan Africa'),
 ('Nigeria', 2020, 77.33, 43, 208.327405, 432.2, 'Sub-Saharan Africa')]

**Task 5**
We only looked at 5 countries in the previous query. Lets have a look at the rest of Sub-Saharan Africa . Exclude the countries mentioned in the previous task

In [10]:
%%sql

SELECT
    Country_name,
	Time_period,
	Pct_managed_drinking_water_services,
	Pct_managed_sanitation_services,
	Est_population_in_millions,
	Est_gdp_in_billions,
    Region

FROM united_nations.Access_to_Basic_Services

WHERE 
     Region = 'Sub-Saharan Africa'
AND
    Time_period = 2020
AND 
     Est_gdp_in_billions IS NOT NULL

ORDER BY Est_gdp_in_billions ASC,
         Pct_managed_drinking_water_services ASC,
         Pct_managed_sanitation_services ASC
LIMIT  5;

 * mysql+pymysql://root:***@127.0.0.1:3306/united_nations
5 rows affected.

[('Sao Tome and Principe', 2020, 77.33, 46, 0.218641, 0.47, 'Sub-Saharan Africa'),
 ('Guinea-Bissau', 2020, 60.0, 19, 2.015828, 1.43, 'Sub-Saharan Africa'),
 ('Cabo Verde', 2020, 87.33, 78, 0.58264, 1.7, 'Sub-Saharan Africa'),
 ('Lesotho', 2020, 76.33, 50, 2.2541, 2.23, 'Sub-Saharan Africa'),
 ('Central African Republic', 2020, 38.33, 15, 5.34302, 2.33, 'Sub-Saharan Africa')]