In [1]:
#Preparing sql environment
%load_ext sql

In [2]:
%sql mysql+pymysql://root:0479%40Kanya@127.0.0.1:3306/united_nations

In [3]:
%%sql

SELECT
	Distinct Country_name
FROM
	united_nations.Access_to_Basic_Services
WHERE
	Country_name LIKE '%(%)%';

 * mysql+pymysql://root:***@127.0.0.1:3306/united_nations
7 rows affected.

[('Iran (Islamic Republic of)',),
 ('Saint Martin (French Part)',),
 ('Sint Maarten (Dutch part)',),
 ('Bolivia (Plurinational State of)',),
 ('Falkland Islands (Malvinas)',),
 ('Venezuela (Bolivarian Republic of)',),
 ('Micronesia (Federated States of)',)]

**1. Extract country names without the information inside the parenthesis**

Adding to the previous query, extract the country names on the left of the opening bracket, using the position of the opening bracket as the length of the substring to be extracted. Store the results in a column called New_country_name.

Then, get the length of the records on the New_country_name column to help identify any extra characters. Store this as New_country_name_length.

In [4]:
%%sql

SELECT
    Distinct Country_name,
	LEFT(Country_name, POSITION('(' in Country_name)) as New_country_name,
	LENGTH(LEFT(Country_name, POSITION('(' in Country_name))) as New_country_name_length
FROM
	Access_to_Basic_Services
WHERE
	Country_name LIKE '%(%)%';

 * mysql+pymysql://root:***@127.0.0.1:3306/united_nations
7 rows affected.

[('Iran (Islamic Republic of)', 'Iran (', 6),
 ('Saint Martin (French Part)', 'Saint Martin (', 14),
 ('Sint Maarten (Dutch part)', 'Sint Maarten (', 14),
 ('Bolivia (Plurinational State of)', 'Bolivia (', 9),
 ('Falkland Islands (Malvinas)', 'Falkland Islands (', 18),
 ('Venezuela (Bolivarian Republic of)', 'Venezuela (', 11),
 ('Micronesia (Federated States of)', 'Micronesia (', 12)]

**2. Identify any extra characters**

The New_country_name column now displays the country name without the unwanted information inside the parentheses. However, we notice that there's an extra character, the opening bracket. This is because our substring length is inclusive of the opening bracket. We will therefore refine our solution by subtracting one position from the opening bracket's position to ensure that the extra character is removed.

We notice another issue â€“ extra spaces. For example, the country name "Iran" should have a length of four characters, but it shows six. Once the opening bracket is removed, there will still be an extra character caused by whitespace. To address this problem, we will use the RTRIM function on the extracted country name to remove any trailing spaces.

In [5]:
%%sql

SELECT Distinct
 	Country_name,
	RTRIM(LEFT(Country_name, POSITION('(' in Country_name)-1)) as New_country_name,
	LENGTH(RTRIM(LEFT(Country_name, POSITION('(' in Country_name)-1))) as New_country_name_length
FROM
	Access_to_Basic_Services WHERE Country_name like '%(%)%';

 * mysql+pymysql://root:***@127.0.0.1:3306/united_nations
7 rows affected.

[('Iran (Islamic Republic of)', 'Iran', 4),
 ('Saint Martin (French Part)', 'Saint Martin', 12),
 ('Sint Maarten (Dutch part)', 'Sint Maarten', 12),
 ('Bolivia (Plurinational State of)', 'Bolivia', 7),
 ('Falkland Islands (Malvinas)', 'Falkland Islands', 16),
 ('Venezuela (Bolivarian Republic of)', 'Venezuela', 9),
 ('Micronesia (Federated States of)', 'Micronesia', 10)]